<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.security.server.dao.KjProductDao">

	<sql id="where">
		<where>
            <if test="params.status != null and params.status != ''">
                and t.status = #{params.status}
            </if>
			<if test="params.buyNum != null and params.buyNum != ''">
				and t.buyNum = #{params.buyNum}
			</if>
			<if test="params.cMan != null and params.cMan != ''">
				and t.cMan = #{params.cMan}
			</if>
			<if test="params.cPhone != null and params.cPhone != ''">
				and t.cPhone = #{params.cPhone}
			</if>
			<if test="params.fId != null and params.fId != ''">
				and t.fId = #{params.fId}
			</if>
			<if test="params.haveNum != null and params.haveNum != ''">
				and t.haveNum = #{params.haveNum}
			</if>
			<if test="params.history != null and params.history != ''">
				and t.history = #{params.history}
			</if>
			<if test="params.id != null and params.id != ''">
				and t.id = #{params.id}
			</if>
			<if test="params.name != null and params.name != ''">
				and t.name = #{params.name}
			</if>
			<if test="params.pData != null and params.pData != ''">
				and t.pData = #{params.pData}
			</if>
			<if test="params.pDetail != null and params.pDetail != ''">
				and t.pDetail = #{params.pDetail}
			</if>
			<if test="params.image != null and params.image != ''">
				and t.image = #{params.image}
			</if>
			<if test="params.place != null and params.place != ''">
				and t.place = #{params.place}
			</if>
			<if test="params.price != null and params.price != ''">
				and t.price = #{params.price}
			</if>
			<if test="params.pubTime != null and params.pubTime != ''">
				and t.pubTime = #{params.pubTime}
			</if>
			<if test="params.salePrice != null and params.salePrice != ''">
				and t.salePrice = #{params.salePrice}
			</if>
			<if test="params.sId != null and params.sId != ''">
				and t.sId = #{params.sId}
			</if>
			<if test="params.talk != null and params.talk != ''">
				and t.talk = #{params.talk}
			</if>
			<if test="params.xfArea != null and params.xfArea != ''">
				and t.xfArea = #{params.xfArea}
			</if>
            <if test="params.beginTime != null and params.beginTime != ''">
                <if test="params.endTime != null and params.endTime != ''">
                    and t.pubTime between #{params.beginTime} and #{params.endTime}
                </if>
                <if test="params.endTime == null || params.endTime == ''">
                    and t.pubTime > #{params.beginTime}
                </if>
            </if>
            <if test="params.endTime != null and params.endTime != ''">
                <if test="params.beginTime == null || params.beginTime == ''">
                    and  t.pubTime &lt; #{params.endTime}
                </if>
            </if>
            <if test="params.searchByInput != null and params.searchByInput != ''">
                and t.name like concat('%', #{params.searchByInput}, '%')
            </if>
            <if test="params.userId != null and params.userId != ''">
                and t.userId = #{params.userId}
            </if>
		</where>
	</sql>

	<select id="count" resultType="int">
		select count(1) from kj_product t
		<include refid="where" />
	</select>

	<select id="list" resultType="KjProduct">
		select t.*,b.name as fIdName,c.name as sIdName from kj_product t
		left join kj_product_classifyInfo b on t.fId = b.id
		left join kj_product_classifyInfo c on t.sId = c.id
		<include refid="where" />
		<if test="params.orderBy!=null and params.orderBy !=''">
			${params.orderBy}
		</if>
		<if test="limit !=null and limit !=''">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="count1" resultType="int">
		select count(1) from kj_product t
        left join zlzt_careinfo  m on t.id = m.careId and m.type = #{params.fromTable}
        left join zlzt_point_agree n on t.id = n.agreeId and n.type = #{params.fromTable}
		<include refid="where" />
	</select>

	<select id="list1" resultType="KjProduct">
		select t.*,b.name as fIdName,c.name as sIdName,
        m.careId as careId, n.agreeId as agreeId  from kj_product t
		left join kj_product_classifyInfo b on t.fId = b.id
		left join kj_product_classifyInfo c on t.sId = c.id
        left join zlzt_careinfo  m on t.id = m.careId and m.type = #{params.fromTable} and m.userId = #{params.userAppId}
        left join zlzt_point_agree n on t.id = n.agreeId and n.type = #{params.fromTable} and n.userId = #{params.userAppId}
		<include refid="where" />
		<if test="params.orderBy!=null and params.orderBy !=''">
			${params.orderBy}
		</if>
		<if test="limit !=null and limit !=''">
			limit #{offset}, #{limit}
		</if>
	</select>

	<update id="update">
		update kj_product t
		<set>
			<if test="buyNum != null">
				buyNum = #{buyNum}, 
			</if>
			<if test="cMan != null">
				cMan = #{cMan}, 
			</if>
			<if test="cPhone != null">
				cPhone = #{cPhone}, 
			</if>
			<if test="fId != null">
				fId = #{fId}, 
			</if>
			<if test="haveNum != null">
				haveNum = #{haveNum}, 
			</if>
			<if test="history != null">
				history = #{history}, 
			</if>
			<if test="name != null">
				name = #{name}, 
			</if>
			<if test="pData != null">
				pData = #{pData}, 
			</if>
			<if test="pDetail != null">
				pDetail = #{pDetail}, 
			</if>
			<if test="image != null">
				image = #{image},
			</if>
			<if test="place != null">
				place = #{place}, 
			</if>
			<if test="price != null">
				price = #{price}, 
			</if>
			<if test="pubTime != null">
				pubTime = #{pubTime}, 
			</if>
			<if test="salePrice != null">
				salePrice = #{salePrice}, 
			</if>
			<if test="sId != null">
				sId = #{sId}, 
			</if>
			<if test="talk != null">
				talk = #{talk}, 
			</if>
			<if test="xfArea != null">
				xfArea = #{xfArea}, 
			</if>
			<if test="status != null">
				status = #{status},
			</if>
			<if test="updateTime != null">
				updateTime = #{updateTime},
			</if>

		</set>

		where t.id = #{id}
	</update>

</mapper>
