<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.security.server.dao.KjZlsuperDao">

	<sql id="where">
		<where>
			<if test="params.status != null and params.status != ''">
				and t.status = #{params.status}
			</if>
			<if test="params.transform != null and params.transform != ''">
				and t.transform = #{params.transform}
			</if>
			<if test="params.searchByInput != null and params.searchByInput != ''">
				and t.name like concat('%', #{params.searchByInput}, '%')
			</if>
			<if test="params.cMan != null and params.cMan != ''">
				and t.cMan = #{params.cMan}
			</if>
			<if test="params.cPhone != null and params.cPhone != ''">
				and t.cPhone = #{params.cPhone}
			</if>
			<if test="params.dealMoney != null and params.dealMoney != ''">
				and t.dealMoney = #{params.dealMoney}
			</if>
			<if test="params.dealWay != null and params.dealWay != ''">
				and t.dealWay = #{params.dealWay}
			</if>
			<if test="params.fId != null and params.fId != ''">
				and t.fId = #{params.fId}
			</if>
			<if test="params.id != null and params.id != ''">
				and t.id = #{params.id}
			</if>
			<if test="params.lawS != null and params.lawS != ''">
				and t.lawS = #{params.lawS}
			</if>
			<if test="params.name != null and params.name != ''">
				and t.name = #{params.name}
			</if>
			<if test="params.pubTime != null and params.pubTime != ''">
				and t.pubTime = #{params.pubTime}
			</if>
			<if test="params.sId != null and params.sId != ''">
				and t.sId = #{params.sId}
			</if>
			<if test="params.useArea != null and params.useArea != ''">
				and t.useArea = #{params.useArea}
			</if>
			<if test="params.xfArea != null and params.xfArea != ''">
				and t.xfArea = #{params.xfArea}
			</if>
			<if test="params.zlDetails != null and params.zlDetails != ''">
				and t.zlDetails = #{params.zlDetails}
			</if>
			<if test="params.zlId != null and params.zlId != ''">
				and t.zlId = #{params.zlId}
			</if>
			<if test="params.image != null and params.image != ''">
				and t.image = #{params.image}
			</if>
			<if test="params.zlType != null and params.zlType != ''">
				and t.zlType = #{params.zlType}
			</if>
			<if test="params.zlYear != null and params.zlYear != ''">
				and t.zlYear = #{params.zlYear}
			</if>
			<if test="params.beginTime != null and params.beginTime != ''">
				<if test="params.endTime != null and params.endTime != ''">
					and t.pubTime between #{params.beginTime} and #{params.endTime}
				</if>
				<if test="params.endTime == null || params.endTime == ''">
					and t.pubTime > #{params.beginTime}
				</if>
			</if>
			<if test="params.endTime != null and params.endTime != ''">
				<if test="params.beginTime == null || params.beginTime == ''">
					and  t.pubTime &lt; #{params.endTime}
				</if>
			</if>
			<if test="params.userId != null and params.userId != ''">
				and t.userId = #{params.userId}
			</if>
		</where>
	</sql>

	<select id="count" resultType="int">
		select count(1) from kj_zlsuper t
		<include refid="where" />
	</select>

	<select id="list" resultType="KjZlsuper">
		select t.*,b.name as fIdName,c.name as sIdName from kj_zlsuper t
		left join kj_zlsuper_classifyInfo b on t.fId = b.id
		left join kj_zlsuper_classifyInfo c on t.sId = c.id
		<include refid="where" />
		<if test="params.orderBy!=null and params.orderBy !=''">
			${params.orderBy}
		</if>
		<if test="limit !=null and limit !=''">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="count1" resultType="int">
		select count(1) from kj_zlsuper t
        left join zlzt_careinfo  m on t.id = m.careId and m.type = #{params.fromTable}
        left join zlzt_point_agree n on t.id = n.agreeId and n.type = #{params.fromTable}
		<include refid="where" />
	</select>

	<select id="list1" resultType="KjZlsuper">
		select t.*,b.name as fIdName,c.name as sIdName ,
        m.careId as careId, n.agreeId as agreeId from kj_zlsuper t
		left join kj_zlsuper_classifyInfo b on t.fId = b.id
		left join kj_zlsuper_classifyInfo c on t.sId = c.id
        left join zlzt_careinfo  m on t.id = m.careId and m.type = #{params.fromTable} and m.userId = #{params.userAppId}
        left join zlzt_point_agree n on t.id = n.agreeId and n.type = #{params.fromTable} and n.userId = #{params.userAppId}
		<include refid="where" />
		<if test="params.orderBy!=null and params.orderBy !=''">
			${params.orderBy}
		</if>
		<if test="limit !=null and limit !=''">
			limit #{offset}, #{limit}
		</if>
	</select>

	<update id="update">
		update kj_zlsuper t
		<set>
			<if test="transform != null">
				transform = #{transform},
			</if>
			<if test="cMan != null">
				cMan = #{cMan}, 
			</if>
			<if test="cPhone != null">
				cPhone = #{cPhone}, 
			</if>
			<if test="dealMoney != null">
				dealMoney = #{dealMoney}, 
			</if>
			<if test="dealWay != null">
				dealWay = #{dealWay}, 
			</if>
			<if test="fId != null">
				fId = #{fId}, 
			</if>
			<if test="lawS != null">
				lawS = #{lawS}, 
			</if>
			<if test="name != null">
				name = #{name}, 
			</if>
			<if test="pubTime != null">
				pubTime = #{pubTime}, 
			</if>
			<if test="sId != null">
				sId = #{sId}, 
			</if>
			<if test="useArea != null">
				useArea = #{useArea}, 
			</if>
			<if test="xfArea != null">
				xfArea = #{xfArea}, 
			</if>
			<if test="zlDetails != null">
				zlDetails = #{zlDetails}, 
			</if>
			<if test="zlId != null">
				zlId = #{zlId}, 
			</if>
			<if test="image != null">
				image = #{image},
			</if>
			<if test="zlType != null">
				zlType = #{zlType}, 
			</if>
			<if test="zlYear != null">
				zlYear = #{zlYear}, 
			</if>
			<if test="status != null">
				status = #{status},
			</if>
			<if test="updateTime != null">
				updateTime = #{updateTime},
			</if>
		</set>

		where t.id = #{id}
	</update>

</mapper>
