<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.security.server.dao.SysDeptDao">

	<sql id="where">
		<where>
			<if test="params.id != null and params.id != ''">
				and id = #{params.id} 
			</if>
			<if test="params.parentId != null and params.parentId != ''">
				and parentId = #{params.parentId} 
			</if>
			<if test="params.name != null and params.name != ''">
				and name = #{params.name} 
			</if>
			<if test="params.address != null and params.address != ''">
				and address = #{params.address} 
			</if>
			<if test="params.firstMaster != null and params.firstMaster != ''">
				and firstMaster = #{params.firstMaster} 
			</if>
			<if test="params.type != null and params.type != ''">
				and type = #{params.type} 
			</if>
			<if test="params.phone != null and params.phone != ''">
				and phone = #{params.phone} 
			</if>
			<if test="params.sort != null and params.sort != ''">
				and sort = #{params.sort} 
			</if>
			<if test="params.areaId != null and params.areaId != ''">
				and areaId = #{params.areaId} 
			</if>
			<if test="params.code != null and params.code != ''">
				and code = #{params.code} 
			</if>
		
		</where>
	</sql>

	<select id="count" resultType="int">
		select count(1) from sys_dept t
		<include refid="where" />
	</select>

	<select id="list" resultType="SysDept">
		select * from sys_dept t
		<include refid="where" />
		${params.orderBy}
		limit #{offset}, #{limit}
	</select>

	<update id="update">
		update sys_dept t
		<set>
			<if test="parentId != null">
				parentId = #{parentId}, 
			</if>
			<if test="name != null">
				name = #{name}, 
			</if>
			<if test="address != null">
				address = #{address}, 
			</if>
			<if test="firstMaster != null">
				firstMaster = #{firstMaster}, 
			</if>
			<if test="type != null">
				type = #{type}, 
			</if>
			<if test="phone != null">
				phone = #{phone}, 
			</if>
			<if test="sort != null">
				sort = #{sort}, 
			</if>
			<if test="areaId != null">
				areaId = #{areaId}, 
			</if>
			<if test="code != null">
				code = #{code}, 
			</if>

		</set>

		where t.id = #{id}
	</update>

</mapper>
