<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.security.server.dao.YfCompanyDao">

	<sql id="where">
		<where>
			<if test="params.id != null and params.id != ''">
				and t.id = #{params.id}
			</if>
			<if test="params.dataId != null and params.dataId != ''">
				and t.dataId = #{params.dataId}
			</if>
			<if test="params.fId != null and params.fId != ''">
				and t.fId = #{params.fId}
			</if>
			<if test="params.sId != null and params.sId != ''">
				and t.sId = #{params.sId}
			</if>
			<if test="params.tId != null and params.tId != ''">
				and t.tId = #{params.tId}
			</if>
			<if test="params.cId != null and params.cId != ''">
				and t.cId = #{params.cId}
			</if>
			<if test="params.createTime != null and params.createTime != ''">
				and t.createTime = #{params.createTime}
			</if>
			<if test="params.updateTime != null and params.updateTime != ''">
				and t.updateTime = #{params.updateTime}
			</if>
			<if test="params.name != null and params.name != ''">
				and m.title like concat('%', #{params.name}, '%')
			</if>
		</where>
	</sql>

	<select id="count" resultType="int">
		select count(1) from yf_company t
		inner join yf_classifyinfo a on t.fId = a.id
		inner join yf_classifyinfo b on t.sId = b.id
		inner join yf_classifyinfo c on t.tId = c.id
		inner join yf_classifyinfo d on t.cId = d.id
		inner join zlzt_datainfo m on t.dataId = m.id
		<include refid="where" />
	</select>

	<select id="list" resultType="YfCompany">
		select t.*,a.name as fIdName,b.name as sIdName,c.name as tIdName,d.name as cIdName, m.title as title  from yf_company t
		inner join yf_classifyinfo a on t.fId = a.id
		inner join yf_classifyinfo b on t.sId = b.id
		inner join yf_classifyinfo c on t.tId = c.id
		inner join yf_classifyinfo d on t.cId = d.id
		inner join zlzt_datainfo m on t.dataId = m.id
		<include refid="where" />
		<if test="params.orderBy!=null and params.orderBy !=''">
			${params.orderBy}
		</if>
		<if test="limit !=null and limit !=''">
			limit #{offset}, #{limit}
		</if>
	</select>

	<update id="update">
		update yf_company t
		inner join zlzt_datainfo m on t.dataId = m.id
		<set>
			<if test="cId != null">
				t.cId = #{cId},
			</if>
			<if test="fId != null">
				t.fId = #{fId},
			</if>
			<if test="sId != null">
				t.sId = #{sId},
			</if>
			<if test="tId != null">
				t.tId = #{tId},
			</if>
			<if test="country != null">
				m.country = #{country},
			</if>
			<if test="openId != null">
				m.openId = #{openId},
			</if>
			<if test="openDay != null">
				m.openDay = #{openDay},
			</if>
			<if test="applyId != null">
				m.applyId = #{applyId},
			</if>
			<if test="applyDay != null">
				m.applyDay = #{applyDay},
			</if>
			<if test="title != null">
				m.title = #{title},
			</if>
			<if test="titleFy != null">
				m.titleFy = #{titleFy},
			</if>
			<if test="zy != null">
				m.zy = #{zy},
			</if>
			<if test="zyFy != null">
				m.zyFy = #{zyFy},
			</if>
			<if test="powerAsk != null">
				m.powerAsk = #{powerAsk},
			</if>
			<if test="powerAFy != null">
				m.powerAFy = #{powerAFy},
			</if>
			<if test="powerAN != null">
				powerAN = #{powerAN},
			</if>
			<if test="applyMan != null">
				m.applyMan = #{applyMan},
			</if>
			<if test="applyPlace != null">
				m.applyPlace = #{applyPlace},
			</if>
			<if test="createMan != null">
				m.createMan = #{createMan},
			</if>
			<if test="lawS != null">
				m.lawS = #{lawS},
			</if>
			<if test="nowLawS != null">
				m.nowLawS = #{nowLawS},
			</if>
			<if test="zlType != null">
				m.zlType = #{zlType},
			</if>
			<if test="ipcMC != null">
				m.ipcMC = #{ipcMC},
			</if>
			<if test="ipcMCFy != null">
				m.ipcMCFy = #{ipcMCFy},
			</if>
			<if test="ipc != null">
				m.ipc = #{ipc},
			</if>
			<if test="ipcFy != null">
				m.ipcFy = #{ipcFy},
			</if>
			<if test="cpec != null">
				m.cpec = #{cpec},
			</if>
			<if test="cpecFy != null">
				m.cpecFy = #{cpecFy},
			</if>
			<if test="beUsedNum != null">
				m.beUsedNum = #{beUsedNum},
			</if>
			<if test="value != null">
				m.value = #{value},
			</if>
			<if test="zlImage != null">
				m.zlImage = #{zlImage},
			</if>
			<if test="zlText != null">
				m.zlText = #{zlText},
			</if>
			<if test="homeImage != null">
				m.homeImage = #{homeImage},
			</if>
			<if test="updateTime != null">
				m.updateTime = #{updateTime},
			</if>

		</set>

		where t.id = #{id}
	</update>

</mapper>
