<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.security.server.dao.ZlztPointAgreeDao">

	<sql id="where">
		<where>
			<if test="params.id != null and params.id != ''">
				and t.id = #{params.id}
			</if>
			<if test="params.userId != null and params.userId != ''">
				and t.userId = #{params.userId}
			</if>
			<if test="params.agreeId != null and params.agreeId != ''">
				and t.agreeId = #{params.agreeId}
			</if>
			<if test="params.type != null and params.type != ''">
				and t.type = #{params.type}
			</if>
			<if test="params.createTime != null and params.createTime != ''">
				and t.createTime = #{params.createTime}
			</if>
			<if test="params.updateTime != null and params.updateTime != ''">
				and t.updateTime = #{params.updateTime}
			</if>
            <if test="params.beginTime != null and params.beginTime != ''">
                <if test="params.endTime != null and params.endTime != ''">
                    and t.pubTime between #{params.beginTime} and #{params.endTime}
                </if>
                <if test="params.endTime == null || params.endTime == ''">
                    and t.pubTime > #{params.beginTime}
                </if>
            </if>
            <if test="params.endTime != null and params.endTime != ''">
                <if test="params.beginTime == null || params.beginTime == ''">
                    and  t.pubTime &lt; #{params.endTime}
                </if>
            </if>
            <if test="params.name != null and params.name != ''">
                and m.name like concat('%', #{params.name}, '%')
            </if>
			<if test="params.username != null and params.username != ''">
                and a.username like concat('%', #{params.username}, '%')
            </if>
			<if test="params.email != null and params.email != ''">
                and a.email = #{email}
            </if>
		</where>
	</sql>

	<select id="count" resultType="int">
		select count(1) from zlzt_point_agree t inner join zlzt_user a on  t.userId = a.id
		<include refid="where" />
	</select>

	<select id="list" resultType="ZlztPointAgree">
		select t.*,a.username as username,a.email as email,b.val as typeName from zlzt_point_agree t
        inner join zlzt_user a on  t.userId = a.id
        inner join t_dict b on t.type = b.k  and b.type='pointAndCollect'
		<include refid="where" />
		<if test="params.orderBy!=null and params.orderBy !=''">
			${params.orderBy}
		</if>
		<if test="limit !=null and limit !=''">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="count1" resultType="int">
		select count(1)
		from zlzt_point_agree t inner join ${params.fromTable} m
		on t.agreeId = m.id and t.type = #{params.fromTable}
		<include refid="where" />
	</select>

	<select id="list1" resultType="ZlztPointAgree">
        select t.*
        <if test="params.fromTable == 'view_zlztdata' or params.fromTable == 'view_gfdata' or params.fromTable == 'view_yfdata' ">
            ,m.title as name , m.homeImage as image
        </if>
        <if test="params.fromTable != 'view_zlztdata' and params.fromTable != 'view_gfdata' and params.fromTable != 'view_yfdata' ">
            ,m.name as name , m.image as image
        </if>
        from zlzt_point_agree t inner join ${params.fromTable} m
        on t.agreeId = m.id and t.type = #{params.fromTable}
		<include refid="where" />
		<if test="params.orderBy!=null and params.orderBy !=''">
			${params.orderBy}
		</if>
		<if test="limit !=null and limit !=''">
			limit #{offset}, #{limit}
		</if>
	</select>

	<update id="update">
		update zlzt_point_agree t
		<set>
			<if test="userId != null">
				userId = #{userId},
			</if>
			<if test="agreeId != null">
				agreeId = #{agreeId}, 
			</if>
			<if test="type != null">
				type = #{type}, 
			</if>
			<if test="createTime != null">
				createTime = #{createTime}, 
			</if>
			<if test="updateTime != null">
				updateTime = #{updateTime}, 
			</if>

		</set>

		where t.id = #{id}
	</update>

</mapper>
