
html, body, p, h1, h2, h3, h4, h5, h6, ul, ol, li {
    margin: 0;
    padding: 0;
}
ul, ol, li {
    list-style: none;
}
a {
    list-style: none;
    text-decoration: none;
}

div {
    display: flex;
}

.main {
    width: 100%;
    min-height: 100vh;
    background-color: #ffffff;
    flex-direction: column;
}

